In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import streamlit as st

In [2]:
df = pd.read_csv(r"C:\Users\laxmi\Downloads\archive (4)\lifestyle_sustainability_data.csv")

In [3]:
df

,ParticipantID,Age,Location,DietType,LocalFoodFrequency,TransportationMode,EnergySource,HomeType,HomeSize,ClothingFrequency,SustainableBrands,EnvironmentalAwareness,CommunityInvolvement,MonthlyElectricityConsumption,MonthlyWaterConsumption,Gender,UsingPlasticProducts,DisposalMethods,PhysicalActivities,Rating
0,1,35,Urban,Mostly Plant-Based,Often,Bike,Renewable,Apartment,800,Rarely,True,5,High,100,1500,Female,Rarely,Composting,High,5
1,2,28,Suburban,Balanced,Sometimes,Public Transit,Mixed,House,1500,Sometimes,True,4,Moderate,250,3000,Male,Sometimes,Recycling,Moderate,4
2,3,65,Rural,Mostly Animal-Based,Rarely,Car,Non-Renewable,House,2500,Often,False,2,Low,400,4500,Male,Often,Landfill,Low,1
3,4,42,Urban,Mostly Plant-Based,Often,Walk,Renewable,Apartment,950,Sometimes,True,4,Moderate,150,2000,Female,Rarely,Recycling,High,5
4,5,31,Suburban,Balanced,Sometimes,Public Transit,Mixed,House,1800,Often,True,3,Low,300,3500,Non-Binary,Sometimes,Combination,Moderate,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,496,38,Rural,Mostly Plant-Based,Often,Walk,Renewable,House,1789,Sometimes,True,4,High,150,2000,Female,Rarely,Recycling,High,4
495,497,25,Urban,Balanced,Sometimes,Public Transit,Non-Renewable,Apartment,987,Often,False,2,Low,400,4500,Male,Often,Landfill,Low,2
496,498,51,Suburban,Mostly Plant-Based,Always,Bike,Mixed,House,1678,Rarely,True,5,High,280,3200,Non-Binary,Sometimes,Recycling,Moderate,5
497,499,32,Rural,Mostly Plant-Based,Rarely,Walk,Mixed,House,1850,Often,False,1,High,397,4076,Female,Rarely,Recycling,Low,5
498,500,55,Suburban,Mostly Animal-Based,Always,Car,Mixed,House,871,Often,False,5,NaN,385,2066,Non-Binary,Often,Recycling,Low,1

In [10]:
df2 = df.drop([ 'ParticipantID',"Age", 'HomeSize', 'SustainableBrands', 'MonthlyWaterConsumption',"EnvironmentalAwareness","MonthlyElectricityConsumption","DietType"],axis =1)

In [11]:
df2 = df2.drop("Gender",axis = 1)

In [12]:
df2

,Location,LocalFoodFrequency,TransportationMode,EnergySource,HomeType,ClothingFrequency,CommunityInvolvement,UsingPlasticProducts,DisposalMethods,PhysicalActivities,Rating
0,Urban,Often,Bike,Renewable,Apartment,Rarely,High,Rarely,Composting,High,5
1,Suburban,Sometimes,Public Transit,Mixed,House,Sometimes,Moderate,Sometimes,Recycling,Moderate,4
2,Rural,Rarely,Car,Non-Renewable,House,Often,Low,Often,Landfill,Low,1
3,Urban,Often,Walk,Renewable,Apartment,Sometimes,Moderate,Rarely,Recycling,High,5
4,Suburban,Sometimes,Public Transit,Mixed,House,Often,Low,Sometimes,Combination,Moderate,3
...,...,...,...,...,...,...,...,...,...,...,...
494,Rural,Often,Walk,Renewable,House,Sometimes,High,Rarely,Recycling,High,4
495,Urban,Sometimes,Public Transit,Non-Renewable,Apartment,Often,Low,Often,Landfill,Low,2
496,Suburban,Always,Bike,Mixed,House,Rarely,High,Sometimes,Recycling,Moderate,5
497,Rural,Rarely,Walk,Mixed,House,Often,High,Rarely,Recycling,Low,5
498,Suburban,Always,Car,Mixed,House,Often,NaN,Often,Recycling,Low,1

In [17]:
df2["CommunityInvolvement"].fillna(df2["CommunityInvolvement"].mode()[0],inplace=True)

In [18]:
df2["PhysicalActivities"].fillna(df2["PhysicalActivities"].mode()[0],inplace = True)

In [19]:
df2.isnull().sum()

Location                0
LocalFoodFrequency      0
TransportationMode      0
EnergySource            0
HomeType                0
ClothingFrequency       0
CommunityInvolvement    0
UsingPlasticProducts    0
DisposalMethods         0
PhysicalActivities      0
Rating                  0
dtype: int64

In [20]:
df2.apply(lambda x:x.unique())

Location                                      [Urban, Suburban, Rural]
LocalFoodFrequency                  [Often, Sometimes, Rarely, Always]
TransportationMode                   [Bike, Public Transit, Car, Walk]
EnergySource                         [Renewable, Mixed, Non-Renewable]
HomeType                                     [Apartment, House, Other]
ClothingFrequency                   [Rarely, Sometimes, Often, Always]
CommunityInvolvement                             [High, Moderate, Low]
UsingPlasticProducts                 [Rarely, Sometimes, Often, Never]
DisposalMethods         [Composting, Recycling, Landfill, Combination]
PhysicalActivities                               [High, Moderate, Low]
Rating                                                 [5, 4, 1, 3, 2]
dtype: object

In [21]:
df2["Location"] = df2["Location"].map({"Urban":1, "Suburban":2, "Rural":3})

In [22]:
df2["LocalFoodFrequency"] = df2["LocalFoodFrequency"].map({"Often":1,"Sometimes":2,"Rarely":3,"Always":4})

In [23]:
df2["TransportationMode"] = df2["TransportationMode"].map({"Bike":1, "Public Transit":2, "Car":3, "Walk":4})

In [24]:
df2["EnergySource"] = df2["EnergySource"].map({"Renewable":1, "Mixed":2, "Non-Renewable":3})

In [25]:
df2["HomeType"] = df2["HomeType"].map({"Apartment":1, "House":2, "Other":3})

In [26]:
df2["ClothingFrequency"] = df2["ClothingFrequency"].map({"Rarely":1, "Sometimes":2, "Often":3, "Always":4})

In [27]:
df2["CommunityInvolvement"] = df2["CommunityInvolvement"].map({"High":1, "Moderate":2, "Low":3})

In [28]:
df2["UsingPlasticProducts"] = df2["UsingPlasticProducts"].map({"Rarely":1, "Sometimes":2, "Often":3, "Never":4})

In [29]:
df2["DisposalMethods"] = df2["DisposalMethods"].map({"Composting":1, "Recycling":2, "Landfill":3, "Combination":4})

In [30]:
df2["PhysicalActivities"] = df2["PhysicalActivities"].map({"High":1, "Moderate":2, "Low":3})

In [31]:
df2

,Location,LocalFoodFrequency,TransportationMode,EnergySource,HomeType,ClothingFrequency,CommunityInvolvement,UsingPlasticProducts,DisposalMethods,PhysicalActivities,Rating
0,1,1,1,1,1,1,1,1,1,1,5
1,2,2,2,2,2,2,2,2,2,2,4
2,3,3,3,3,2,3,3,3,3,3,1
3,1,1,4,1,1,2,2,1,2,1,5
4,2,2,2,2,2,3,3,2,4,2,3
...,...,...,...,...,...,...,...,...,...,...,...
494,3,1,4,1,2,2,1,1,2,1,4
495,1,2,2,3,1,3,3,3,3,3,2
496,2,4,1,2,2,1,1,2,2,2,5
497,3,3,4,2,2,3,1,1,2,3,5
498,2,4,3,2,2,3,2,3,2,3,1

In [32]:
df2.isnull().sum()

Location                0
LocalFoodFrequency      0
TransportationMode      0
EnergySource            0
HomeType                0
ClothingFrequency       0
CommunityInvolvement    0
UsingPlasticProducts    0
DisposalMethods         0
PhysicalActivities      0
Rating                  0
dtype: int64

In [33]:
df["Rating"].value_counts()

Rating
5    176
3    101
1     97
4     91
2     34
Name: count, dtype: int64

In [34]:
X = df2.drop("Rating",axis = 1)
y = df2["Rating"]

In [35]:
X

,Location,LocalFoodFrequency,TransportationMode,EnergySource,HomeType,ClothingFrequency,CommunityInvolvement,UsingPlasticProducts,DisposalMethods,PhysicalActivities
0,1,1,1,1,1,1,1,1,1,1
1,2,2,2,2,2,2,2,2,2,2
2,3,3,3,3,2,3,3,3,3,3
3,1,1,4,1,1,2,2,1,2,1
4,2,2,2,2,2,3,3,2,4,2
...,...,...,...,...,...,...,...,...,...,...
494,3,1,4,1,2,2,1,1,2,1
495,1,2,2,3,1,3,3,3,3,3
496,2,4,1,2,2,1,1,2,2,2
497,3,3,4,2,2,3,1,1,2,3
498,2,4,3,2,2,3,2,3,2,3

In [38]:
df2.to_csv("Rating2.csv")

In [37]:
from sklearn.model_selection import train_test_split

In [428]:
X_train, X_test,y_train,y_test =  train_test_split(X,y,test_size=0.2,random_state=23)

In [429]:
from sklearn.neighbors import KNeighborsClassifier

In [430]:
from sklearn.metrics import accuracy_score,r2_score

In [431]:
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test) 
accuracy_score(y_test,y_pred)

0.64

In [ ]:
knn =  KNeighboursClassifier()
knn.fit(x_train,y_train)
y_pred = knn

In [432]:
accuracy = accuracy_score(y_test,y_pred)

In [433]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("RMSE:", rmse)

RMSE: 1.40356688476182

In [434]:
from sklearn.metrics import r2_score

# Calculate R² score
r2 = r2_score(y_test, y_pred)
print("R² Score:", r2)

R² Score: 0.01716224306525671

In [435]:
from sklearn.svm import SVR

In [437]:
sv = SVR()
sv.fit(X_train,y_train)
y_pred = sv.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

0.9707821252698025

In [438]:
from sklearn.linear_model import LinearRegression

In [439]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))
#r2_score(y_test,y_pred)

1.2017487296473244

In [440]:
from sklearn.tree import DecisionTreeRegressor

In [441]:
dt = DecisionTreeRegressor()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))
#r2_score(y_test,y_pred)

1.2723774771837344

In [265]:
import pickle

In [442]:
pickle.dump(sv,open("sv.pkl","wb"))

In [443]:
model = pickle.load(open("sv.pkl","rb"))

In [446]:
# Correct way to provide a single sample for prediction
model.predict([[1,1,1,1,1,1,1,1,1,1]])[0]
#print("Predicted Rating:", prediction[0])

C:\Users\laxmi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

4.941591322202782

In [233]:
df2.to_csv("ratings.csv")